# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/maskburster_js_snap/js_src/node_modules/
/maskburster_js_snap/js_src/js/app.log
maskburster_js_snap/js_src/for_browser/js/config.js
maskburster_js_snap/js_src/js/config.js
