[Desktop Entry]
Version=0.1
Type=Application
Name=Camera App
Comment=A sample image recognition application
Exec=camera-app
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Categories=GTK;Utility;Application
